.loading {
  background-color: #ceffce;
  height: 100px;
  width: 200px;
  top: 40%;
  position: absolute;
  box-shadow: 1px 1px 5px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loading-bottom {
  position: relative;
  background-color: #cde9f7;
  height: 50px;
  width: 200px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.loading-bars {
  position: relative;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
}

/* ===== Login and Signup pages ===== */
.loginSignupContainer {
  margin-top: 2em;
  position: relative;
}

.signupLoginBtns {
  margin: 2px;
}

.login-title {
  font-family: "Julius Sans One", sans-serif;
  font-size: 4em;
  background-color: rgba(217, 224, 230, 0.5);
  padding: 0.25em;
  border-radius: 50px;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
}

.login-jumbotron {
  border-bottom: 1px solid black;
}

.jumbotron {
  padding: 2.5rem 0rem;
  background-color: #edf2f6;
  overflow: hidden;
  background-size: 100%;
  min-width: 660px;
  background-image: url(../images/bonsai-1920.jpg);
  background-repeat: no-repeat;
  text-align: right;
  background-position: 0% 10%;
}

@media screen and (max-width: 716px) {
  .login-title {
    font-size: 3em;
  }

  .jumbotron {
    text-align: left;
  }
}
@media screen and (max-width: 450px) {
  .login-title {
    font-size: 2em;
  }
}
/* ===== 404 not found page ===== */
.four-oh-four {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
}

.mini-row td {
  text-align: center;
  border-width: 1px;
  border-style: dotted;
  border-color: gray;
}

.mini-row td:hover {
  border-style: solid;
}

.mini-table {
  text-align: center;
}

.current-mini-date {
  background-color: #b1ffb1;
}

.mini-month {
  margin: 0.1em;
}

.mini-container {
  margin: auto;
  text-align: center;
}

.mini-container table {
  text-align: center;
  margin: auto;
  margin-bottom: 0.5em;
}

.mini-btn, .mini-month {
  display: inline;
  padding: 0.3em;
  margin-bottom: 0.5em;
}

.mini-btn {
  color: #d2d2d2 !important;
  background-color: #d2d2d2;
  border-color: #d2d2d2;
}

.mini-btn:hover, .mini-btn:active, .mini-btn:focus {
  color: #b9b9b9 !important;
  background-color: #b9b9b9 !important;
  border-color: #b9b9b9;
  box-shadow: 0 0 0 0.2rem rgba(180, 180, 180, 0.5) !important;
}

.mini-btn:active {
  border-color: #b9b9b9 !important;
}

.back-arrow {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #2eb4ad;
  border-bottom: 5px solid transparent;
}

.forward-arrow {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #2eb4ad;
  border-bottom: 5px solid transparent;
}

.dropdown-menu.show {
  padding: 0.5em;
}

/* ===== NavBar ===== */
.navbar {
  background-color: #e4e4e4;
  box-shadow: 0 1px 2px black;
}

.navbar-text {
  margin-right: 1em;
  margin-left: 1em;
}

.empty-div-before {
  flex-grow: 2.2;
}

.empty-div-after {
  flex-grow: 1;
}

.clock {
  margin-left: 1em;
}

/* ==================================*/
/* ===== Home.js ===== */
.btn-container {
  display: flex;
  align-items: center;
}

#back-btn, #forward-btn {
  margin: 1em 1em 0 1em;
}

#empty-btn-div {
  flex-grow: 1;
}

/* ==================================*/
/* ===== Calendar ===== */
.calendar-col, .time-col {
  min-height: 5em;
  max-height: 5em;
}

@media screen and (min-width: 384px) {
  .calendar-col {
    min-width: 3em;
    max-width: 3em;
  }

  .time-col {
    min-width: 1.5em;
    max-width: 1.5em;
  }
}
@media screen and (min-width: 512px) {
  .calendar-col {
    min-width: 4em;
    max-width: 4em;
  }

  .time-col {
    min-width: 2em;
    max-width: 2em;
  }
}
@media screen and (min-width: 640px) {
  .calendar-col {
    min-width: 5em;
    max-width: 5em;
  }

  .time-col {
    min-width: 2.5em;
    max-width: 2.5em;
  }
}
@media screen and (min-width: 768px) {
  .calendar-col {
    min-width: 6em;
    max-width: 6em;
  }

  .time-col {
    min-width: 3em;
    max-width: 3em;
  }
}
@media screen and (min-width: 896px) {
  .calendar-col {
    min-width: 7em;
    max-width: 7em;
  }

  .time-col {
    min-width: 3.5em;
    max-width: 3.5em;
  }
}
@media screen and (min-width: 1024px) {
  .calendar-col {
    min-width: 8em;
    max-width: 8em;
  }

  .time-col {
    min-width: 4em;
    max-width: 4em;
  }
}
@media screen and (min-width: 1152px) {
  .calendar-col {
    min-width: 9em;
    max-width: 9em;
  }

  .time-col {
    min-width: 4.5em;
    max-width: 4.5em;
  }
}
@media screen and (min-width: 1280px) {
  .calendar-col {
    min-width: 10em;
    max-width: 10em;
  }

  .time-col {
    min-width: 5em;
    max-width: 5em;
  }
}
@media screen and (min-width: 1408px) {
  .calendar-col {
    min-width: 11em;
    max-width: 11em;
  }

  .time-col {
    min-width: 5.5em;
    max-width: 5.5em;
  }
}
@media screen and (min-width: 1536px) {
  .calendar-col {
    min-width: 12em;
    max-width: 12em;
  }

  .time-col {
    min-width: 6em;
    max-width: 6em;
  }
}
@media screen and (min-width: 1664px) {
  .calendar-col {
    min-width: 13em;
    max-width: 13em;
  }

  .time-col {
    min-width: 6.5em;
    max-width: 6.5em;
  }
}
@media screen and (min-width: 1792px) {
  .calendar-col {
    min-width: 14em;
    max-width: 14em;
  }

  .time-col {
    min-width: 7em;
    max-width: 7em;
  }
}
@media screen and (min-width: 1920px) {
  .calendar-col {
    min-width: 15em;
    max-width: 15em;
  }

  .time-col {
    min-width: 7.5em;
    max-width: 7.5em;
  }
}
@media screen and (min-width: 2048px) {
  .calendar-col {
    min-width: 16em;
    max-width: 16em;
  }

  .time-col {
    min-width: 8em;
    max-width: 8em;
  }
}
@media screen and (min-width: 2176px) {
  .calendar-col {
    min-width: 17em;
    max-width: 17em;
  }

  .time-col {
    min-width: 8.5em;
    max-width: 8.5em;
  }
}
@media screen and (min-width: 2304px) {
  .calendar-col {
    min-width: 18em;
    max-width: 18em;
  }

  .time-col {
    min-width: 9em;
    max-width: 9em;
  }
}
@media screen and (min-width: 2432px) {
  .calendar-col {
    min-width: 19em;
    max-width: 19em;
  }

  .time-col {
    min-width: 9.5em;
    max-width: 9.5em;
  }
}
@media screen and (min-width: 2560px) {
  .calendar-col {
    min-width: 20em;
    max-width: 20em;
  }

  .time-col {
    min-width: 10em;
    max-width: 10em;
  }
}
@media screen and (min-width: 2688px) {
  .calendar-col {
    min-width: 21em;
    max-width: 21em;
  }

  .time-col {
    min-width: 10.5em;
    max-width: 10.5em;
  }
}
@media screen and (min-width: 2816px) {
  .calendar-col {
    min-width: 22em;
    max-width: 22em;
  }

  .time-col {
    min-width: 11em;
    max-width: 11em;
  }
}
@media screen and (min-width: 2944px) {
  .calendar-col {
    min-width: 23em;
    max-width: 23em;
  }

  .time-col {
    min-width: 11.5em;
    max-width: 11.5em;
  }
}
@media screen and (min-width: 3072px) {
  .calendar-col {
    min-width: 24em;
    max-width: 24em;
  }

  .time-col {
    min-width: 12em;
    max-width: 12em;
  }
}
@media screen and (min-width: 3200px) {
  .calendar-col {
    min-width: 25em;
    max-width: 25em;
  }

  .time-col {
    min-width: 12.5em;
    max-width: 12.5em;
  }
}
@media screen and (max-width: 640px) {
  .header-label {
    font-size: smaller;
    overflow: hidden;
  }
}
@media screen and (max-width: 383px) {
  .calendar-col {
    min-width: 3em;
    max-width: 3em;
  }

  .time-col {
    min-width: 1.5em;
    max-width: 1.5em;
  }
}
.event-summary {
  margin: 0 0.125em 0.25em 0.125em;
  font-size: small;
  overflow-x: hidden;
  white-space: nowrap;
}

.event-column {
  border: 1px black solid;
}

.event-column:hover {
  box-shadow: 0px 4px 4px #4d9c4d, 4px 0px 4px #4d9c4d, 0px -4px 4px #4d9c4d, -4px 0px 4px #4d9c4d;
  position: relative;
}

.time-col {
  justify-content: flex-end;
  display: flex;
  margin-right: 0.5em;
}

.time-col-label {
  top: -0.5em;
  right: 0.5em;
  position: relative;
}

.time-col-label::after {
  content: "";
  display: inline;
  width: 0.5em;
  border-top: black solid 1px;
  position: absolute;
  top: 0.4em;
  right: -1.1em;
  z-index: -1;
}

.current-hour {
  background-color: #b1ffb1;
}

.has-event {
  background-color: #d7feff;
}

.today-label {
  background-color: #b1ffb1;
}

#empty-col {
  min-height: 0;
  max-height: 0;
}

.header-label {
  text-align: center;
  margin: 0.5em;
}

.top-label {
  border-top: dotted 1px black;
  border-radius: 8px 8px 0 0;
}

.label-hr {
  margin: -0.25em;
}

.bottom-label {
  margin-bottom: -1px;
}

main {
  margin-bottom: 2em;
}

/* ==================================*/

/*# sourceMappingURL=output.css.map */
